#headshot {background-image: url(images/campus.jpg);
      height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
#three {background-image: url(images/imu.jpg);
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
nav a {padding: 5px;
   border: 1px solid black;
   text-decoration: none;
   background-color: red;
}
p a {font-weight: bold;
}